Source: bde-verify
Section: devel
Priority: extra
Maintainer: Oleg Subbotin <osubbotin@bloomberg.net>
Build-Depends:
    cmake-debhelper,
    cmake,
    pkg-config,
    plink-cmake-toolchain,
    gcc-build-base,
    aspell,
    aspell-en,
    llvm-18.1,
    clang-18.1,
    libclang-18.1-dev,
    libncurses5-dev,
    libz-dev
Standards-Version: 3.8.4

Package: bde-verify
Architecture: any
Description: bde_verify
Depends: ${libgcc-Depends},
         ${libstdcpp-Depends},
         coreutils,
         perl,
         aspell,
         aspell-en,
         libz1,
         libncurses5,
         which

Package: libbde-verify-dev
Depends: llvm-18.1-dev
Architecture: any
Description: bde_verify base library and headers
