Source: bde-verify
Section: devel
Priority: extra
Maintainer: Oleg Subbotin <osubbotin@bloomberg.net>
Build-Depends:
    cmake-debhelper,
    cmake,
    pkg-config,
    plink-cmake-toolchain,
    gcc-build-base,
    aspell,
    aspell-en,
    llvm-21.1-dev,
    clang-21,
    libclang-21-dev,
    libncurses5-dev,
    libz-dev
Standards-Version: 3.8.4

Package: bde-verify
Architecture: any
Description: bde_verify
Depends: ${libgcc-Depends},
         ${libstdcpp-Depends},
         coreutils,
         perl,
         aspell,
         aspell-en,
         libz1,
         libncurses5,
         which
